<a href="https://colab.research.google.com/github/FariyaTousif/Coursera/blob/main/python_smit_gulshan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
employees = [
 {"ID": 1, "Name": "Jack", "Salary": 40000, "Designation":"Data Analyst"},
 {"ID": 2, "Name": "Bill", "Salary": 90000, "Designation": "Data Engineer"}
]

print(employees)

[{'ID': 1, 'Name': 'Jack', 'Salary': 40000, 'Designation': 'Data Analyst'}, {'ID': 2, 'Name': 'Bill', 'Salary': 90000, 'Designation': 'Data Engineer'}]

In [ ]:
employees.append({
    "ID":3,
    "Name":"Helen",
    "Salary":20000,
    "Designation":"Accountant"
})

print(employees)

[{'ID': 1, 'Name': 'Jack', 'Salary': 40000, 'Position': 'Junior'}, {'ID': 2, 'Name': 'Bill', 'Salary': 90000, 'Position': 'Senior'}, {'ID': 3, 'Name': 'Helen', 'Salary': 20000, 'Designation': 'Accountant'}]

In [ ]:
education = ["Graduate","Masters", "PhD"]

for emp in employees:
  emp["education"] = education

print(employees)

[{'ID': 1, 'Name': 'Jack', 'Salary': 40000, 'Designation': 'Data Analyst', 'education': ['Graduate', 'Masters', 'PhD']}, {'ID': 2, 'Name': 'Bill', 'Salary': 90000, 'Designation': 'Data Engineer', 'education': ['Graduate', 'Masters', 'PhD']}]

In [ ]:
max=0
for i in employees:
    if i["Salary"]> max:
      max= i["Salary"]

for i in employees:
  if i["Salary"]== max:
    print(i)

{'ID': 2, 'Name': 'Bill', 'Salary': 90000, 'Designation': 'Data Engineer', 'education': ['Graduate', 'Masters', 'PhD']}

# FUNCTIONS

In [ ]:
def even():
  evens =[]
  for i in range(1,100):
    if i%2==0:
      evens.append(i)
  return evens

In [ ]:
even()

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
def adding(a,b):
  return a+b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter Second number: "))

Enter first number: 3
Enter Second number: 2

In [ ]:
print(f"Sum of {num1} and {num2} : {adding(num1,num2)}")

Sum of 3 and 2 : 5

In [ ]:
def greet(name,age):
  print(f"hi {name}, with age {age}")

# positional parameters
greet("Helen", 12)

# keyword parameters
greet( name= "Harry",age= 22)

hi Helen, with age 12
hi Harry, with age 22

In [ ]:
def addition(a,b,name):
  print(f" {name} obtained {a+b} marks")

addition(2,"Jack",2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
def grade(marks):
  if marks > 80:
    return "A"
  elif marks>60:
    return "B"
  elif marks> 40:
    return "C"
  else:
    return "F"


marks = int(input("Enter Marks: "))

print(f"Your grade is {grade(marks)}")

Enter Marks: 34
Your grade is F

Define a function validate_password that returns:

"Strong" if it contains at least : 1 UPPERCASE, 1 NUMBER, 1 SPECIAL CHARACTER, AND LENGTH >=8

"Moderate" if only 2 of those conditions are met

"Weak" otherwise

Ask the user for a password and display the result

In [ ]:
import string
def validate_pass(pas):
  conditions = 0
  if len(pas) >= 8:
    conditions += 1

  upper = False
  digit = False
  special = False

  for c in pas:
      if c.isupper():
          upper = True
      if c.isdigit():
          digit = True
      if c in string.punctuation:
          special = True

  if upper:
    conditions += 1
  if digit:
    conditions += 1
  if special:
    conditions += 1

  if conditions== 4:
    return "Strong"
  elif conditions >= 2 :
    return "Moderate"
  else:
    return "Weak"

validate_pass(input("Enter password: "))

Enter password: egrd

'Weak'

In [ ]:
print (string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def validate_pass(pas):
  count = 0
  if len(pas) >= 8:
    for i in pas:
      if any(i.isupper()):
        count += 1
      if i.isascii():
        count += 1
      if i.isdigit():
        count += 1

WHILE LOOP

In [ ]:
user_input = input("Enter your name: ")
while user_input.lower() != "exit":
  print(f"Welcome {user_input}")
  user_input = input("Enter your name: ")

Enter your name: ok
Welcome ok
Enter your name: exit

In [ ]:
flag = True
while flag:
  name = input ("Enter your name: ")
  if name == "exit":
    flag = False
    print("Bye Have a good day! ")
  else:
    print(f"Welcome {name}")

Enter your name: Perl
Welcome Perl
Enter your name: exit
Bye Have a good day

LIST COMPREHENSION

In [ ]:
sqr_num = []
for i in range(10):
  sqr_num.append(i**2)

sqr_num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sqr_num2 = [i**2 for i in range(10)]

sqr_num2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
even_num = [i for i in range(10) if i % 2 ==0]

even_num

[0, 2, 4, 6, 8]

In [ ]:
sqr_dict  = {i : i**2 for i in range(5) }

sqr_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}